@model PoliziaMunicipaleApp.Models.Trasgressore

@{
    ViewData["Title"] = "Elimina Trasgressore";
}

<h2>@ViewData["Title"]</h2>

<h4>Sei sicuro di voler eliminare il trasgressore @Model.Nome @Model.Cognome?</h4>
<hr />

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ID" />
    <button type="submit" class="btn btn-danger">Elimina</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Annulla</a>
</form>
